footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: -webkit-linear-gradient(left, #3931af, #00c6ff);
  padding: 15px 0;
  z-index: 1000;
}

footer p {
  margin: 0;
  font-size: 16px;
  color: white;
}
